!!! XHTML
%html
  %head
    %title= @title
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/main.css", :type => 'text/css'}
  %body
    %div#content
      %div#head
        %a{:href => app_root}= @title
        %div
          %a{:href => "#{app_root}/#{@user}"}= "#{@user}'s list"
        %h1= "#{@user}/#{@s.file}"
        %audio{:src => "#{file_url}/#{@s.file}", :controls => true}
        %ul
          %li uploaded at : #{Time.at @s.uploaded_at}
          %li
            %a{:href => "#{file_url}/#{@s.file}"} download
