!!! XHTML
%html
  %head
    %title= @title
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/main.css", :type => 'text/css'}
  %body
    %div#content
      %div#head
        %a{:href => app_root}= @title
        %h1= "#{@name}/#{@fname}"
        %audio{:src => "#{file_url(@name)}/#{@fname}", :controls => true}
        %ul
          %li uploaded at : #{Time.at @fname.scan(/^(\d)+/).first.first.to_i}
          %li
            %a{:href => "#{file_url(@name)}/#{@fname}"} download
