!!! XHTML
%html
  %head
    %title= @title
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/main.css", :type => 'text/css'}
  %body
    %div#content
      %div#head
        %a{:href => app_root}= @title
        %h2
          %a{:href => "#{app_root}/#{@user}/upload"} upload
        %h1= "#{@user}'s sounds"
        %ul
          - for s in @sounds do
            %li
              %a{:href => "#{app_root}/#{@user}/#{s.hex_id}"}= s.file
              &nbsp;-
              %span.uploaded_at= Time.at s.uploaded_at
